.ease { -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
.tabs { background: #fff; position: relative; }
.tabs > input, .tabs > span { width: 33.33333333333333%; height: 60px; line-height: 60px;  top: 0; float:left; }
.tabs > input { cursor: pointer; filter: alpha(opacity=0); opacity: 0;  z-index: 99; position:absolute; margin:0px; }
.tabs > span { background: #f0f0f0; text-align: center; overflow: hidden; }
.tabs > span i, .tabs > span { -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
/*.tabs > input:hover + span { background: rgba(255,255,255,.1); }*/
.tabs > input:checked + span { background: #fff; }
.tabs > input:checked + span { color: #3498DB; width:33.33333333333333%; box-shadow: 6px -12px 0px -6px #3498DB inset;}
.tabs > input:hover + span {width:33.33333333333333%; box-shadow: 0px;}
.tab-content { padding: 60px 0px 0px; width: 100%; }
.tab-content section { width: 100%; display: none; }
.tab-content section > div {padding: 20px; }
.tab-content section h1 { margin-top: 15px; font-size: 100px; font-weight: 100; text-align: center; }
.popcheckbox input[type="checkbox"]+label {cursor: pointer;position: relative;display: inline-block;padding: 10px 0px 10px 45px;}

.btnLiveSupport{ -webkit-appearance: none; position: relative; display: inline-block; padding: 0px; margin: 8px 0 0 0; vertical-align: middle; overflow: visible; color: #fff; font: inherit; font-size: 14px; line-height: 48px; font-weight: 400; text-align: center; letter-spacing: 1px; border: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;width:98%; }
.form-control { font-size: 14px; border-radius: 0; box-shadow: none; border: 1px solid #e9e9e9; transition-duration: .5s; }
.input-sm { padding: 10px 10px; line-height: 1.5; -webkit-appearance: none; }
.form-control { display: block; width: 100%; color: #555; background-color: #fff; -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
input {outline: none; }
.form-horizontal .form-group { margin-right: -15px; margin-left: -15px; margin-bottom: 15px; }
.form-horizontal .control-label { margin-bottom: 24px; padding-top: 7px; text-align: left; }

.col-sm-12 { width: 100%; float: left; position: relative; min-height: 1px; }

.SupportCloseDemo { text-align: center;/*margin-top: 50px;*/ }
.LiveSupportPopup { background-color: #ffffff }
.LivesupportMessage { padding: 10px; text-align: left;margin-bottom: 30px; }
