<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Innowera/PageNotFound.aspx">
      <error statusCode="404" redirect="~/Innowera/PageNotFound.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
